<ion-header >
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon slot="start" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Hidromex</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" sizeLg="8" style="display: block; margin: auto;">
        <ion-card>
          <ion-card-content>
            <ion-img src="../../../assets/acercaNosotros.PNG"></ion-img>
            <br>
            <ion-img src="../../../assets/mision.PNG"></ion-img>
            <br>
            <ion-img src="../../../assets/vision.PNG"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

