<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="goCatalogo()">
        <ion-icon name="book-outline" slot="end"></ion-icon>
        Catalogos
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Hidromex</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" *ngFor="let data of products">
        <ion-card>
          <ion-card-content>
            <p>{{data.name}}</p>
            <p>id: {{data._id}}</p>
            <ion-item (click)="delete(data._id)">
              <ion-icon name="trash" slot="start"></ion-icon>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

