<ion-header>
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-center">Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <ion-row >
      <ion-col size="12" sizeLg="4" style="margin: auto; display: block;">
        <ion-card shape="round">
          <ion-card-header>
            <img src="../../../assets/icon/icon.png" alt="">
          </ion-card-header>
          <ion-card-content>
            <form (ngSubmit)="login(fLogin)" #fLogin="ngForm" id="contenedor">
              <ion-item>
                <ion-label position="floating">Correo:</ion-label>
                <ion-input 
                  name="email" 
                  [(ngModel)]= "datos.email"
                  required 
                  type="email" 
                  pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$">
                </ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Contraseña:</ion-label>
                <ion-input
                  type="password"
                  name= "password"
                  [(ngModel)] = "datos.password"
                  required>
              </ion-input>
              </ion-item>
              <br>
              <ion-button type="submit" expand="full" class="ion-no-margin" shape="round">
                Entrar
              </ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
