<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Catalogos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" sizeLg="4">
        <ion-card (click)="operador()">
          <ion-card-content>
            Operador
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeLg="4">
        <ion-card (click)="cliente()">
          <ion-card-content>
            Cliente
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeLg="4">
        <ion-card (click)="tracto()">
          <ion-card-content>
            Tracto
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
